/* Reset default browser styles */
body, h1, h2, p, ul, li, a {
    color: #ffffff;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}


header, body{
    width: auto;
}

/* Navigation Bar Styles */
nav {
    width: 100%; /* Adjust the width as needed */
    position: fixed;
    height: 100%; /* Make the navigation bar full height */
    top: 0;
    left: 0;
    overflow-y: auto; /* Enable scrolling for long menus */
    border-bottom: darkgray solid;
}

.navbar-brand{
    color: #ffffff;
}

.logo h1{
    text-align: center;
}

.nav-links {
    list-style: none;
    padding: 20px; /* Adjust the spacing as needed */
    font-size: large;
}

.nav-links li {
    margin-bottom: 10px; /* Adjust the spacing between menu items */
}

.nav-links a {
    font-weight: 600;
    display: block; /* Display each link as a block element */
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #3498db;
}

body {
    background-color: black;
    background-repeat: no-repeat;
    object-fit: cover;
  }

.main-content {
    margin: 0 auto;
    height: 95vh;
}

.card-container{
    margin: 0 auto;
    top: 20%;
    height: 300px;
    position: relative;
}

.card{
    margin: 0 auto;
    height: 200px;
    width: 900px;
}

.back-card{
    background-color: #ffffff;
    z-index: 1;
}

.front-card{
    background-color: black;
    border: white solid;
    transform: translate(-2%, 90%);
    z-index: 2;
}

.card-content{
    margin: 0 auto;
    color: white;
    position: relative;
    top: 20%;
    font-size: 90px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    line-height: 1.5;
}

/* Add your custom styles for project cards and other elements as needed */

/* Example project card style */
.project-card {
    background-color: #333;
    border: 1px solid #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}
